{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} ecoworkr {% endblock %}</h1>

<header>
    <ul>
      
      <li><a href="{{ url_for('home') }}" class="team-name">Home</a></li>
      <li><a href="{{ url_for('reduce_your_footprint') }}">Reduce your digital footprint</a></li>
      <li><a href="{{ url_for('about_the_project') }}">About</a></li>
    </ul>
  </header>

<div id = 'input_form'>
<h2 id='h2_calculator'>Calculate the carbon emissions of your Teams call!</h2>
<form action="{{ url_for ('calculate_emissions')}}" method="POST">
  <div id = 'questions'>

  <p class = 'question_text'> How many people were on the call with you? <input type="text" name="others" class='inpunt_filed' required></p>


  <p class = 'question_text'> Was your camera on or off?
    <div class="toggle-radio">
    <input type="radio" name="camera" id = "on"  value = "On" checked>
    <input type="radio" name="camera" id="off" value = "Off">
    <div class="switch">
    <label for="on">On</label>
    <label for="off">Off</label>
    <span></span>
  </div>
</div>
</p>





   <p class = 'question_text'> Did you screenshare?
    <div class="toggle-radio">
    <input type="radio" name="screenshare" id = "yes"  value = "Yes" checked>
    <input type="radio" name="screenshare" id= "no" value = "No">
    <div class="switch">
      <label for="yes">Yes</label>
      <label for="no">No</label>
      <span></span>
    </div>
  </div>
</p>
 




   <p class = 'question_text'>Did you use together mode? 
    <div class="toggle-radio">
      <input type="radio" name="together" id = "yes2"  value = "Yes" checked>
      <input type="radio" name="together" id="no2" value = "No">
      <div class="switch">
      <label for="yes2">Yes</label>
      <label for="no2">No</label>
      <span></span>
    </div>
  </div>
</p>
  

   <p class = 'question_text'> How many hours were you on the call for? <input type ="text" name="hours" class='inpunt_filed'required ><br></p>

     <button type="submit" id='calcuate_button'>Calculate</button>
  </div> 
   <br> 
</form>
</div>
<br>
<br>
<br>
<br>
<br>
 <footer>
    <div class="footer">
        <div id="button"></div>
      <div id="container">
      <div id="cont">
      <div class="footer_center">
             <ul>

              <li><a href="{{ url_for('about_the_project') }}">More info</a></li>
              <li><a href="{{ url_for('reduce_your_footprint') }}">For employers</a></li>
              <li><a href="{{ url_for('reduce_your_footprint') }}">For remote workers</a></li>
              <li><a href="{{ url_for('about_the_project') }}">Contact us</a></li>
                </ul>
      </div>
      </div>
      </div>
      </div>
    </footer>
{% endblock %}
